:root{
  --color-preguntas: #4d8c9f;
}
h1{
  font-weight: bold;
}
  .image-size {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.service-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    text-align: center;
    height: 100%;
}

.service-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.h2 {
  font-size: 2rem;
  color: #212529;
  font-weight: bold;
}

.description {
    font-size: 1rem;
    color: #7f8c8d;
    line-height: 1.5;
}
.carousel-inner img {
  width: 100%;
  height: 500px; 
  object-fit: cover; 
  border-radius: 15px;
}

a img{
  height: 60px;
  width: auto;
}

.img-preguntas{
  background: url('../img/preguntas.jpg') center/cover no-repeat;
      color: black;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      height: 20vh;
      display: flex;
      align-items: center;
      justify-content: center; 
      opacity: 0.4;
}

.bg-light-blue {
  background-color: var(--color-preguntas); 
}